/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end meyer reset */

* {
    font-family: 'Roboto',sans-serif;
}


.logo > h1 {
    font-size: 24px;
}

body {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 5fr;
}

.sidebar {
    grid-row: 1 / 4;
    display: grid;
    gap: 10px;
    background-color: rgb(30, 30, 150);
    padding: 10px;
}

.sidebar li {
    margin: 10px;
}


.header {
    display: grid;
    background-color: white;
}

.header .top-row {
    display: grid;
    gap: 100px;
    grid-auto-flow: column;
    grid-template-columns: 5fr 3fr;
}

.header .top-row > .left-section {
    display: grid;
    grid-template-columns: 1fr 9fr;
    grid-auto-flow: column;    
}

.header .top-row > .right-section {
    grid-template-columns: repeat(3,1fr);
    display: grid;
    grid-auto-flow: column;
}

.sidebar * {
    color: white;
}


.main {
    background-color: rgb(214, 207, 207);
}