/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end meyer reset */
 

/* additional reset - button types */
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
/* end additonal reset */


/* CSS */
.button-19 {
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

.button-19:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:main,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    font-family: 'Roboto';
}

body {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 5fr;
}

.sidebar {
    grid-row: 1 / 4;
    display: grid;
    gap: 10px;
    background-color: #4f46e5;
    padding: 10px;
}

.sidebar li {
    margin: 10px;
}

.logo > h1 {
    font-size: 34px;
}


.header {
    display: grid;
    background-color: white;
}

.header .top-row {
    display: grid;
    gap: 100px;
    grid-auto-flow: column;
    grid-template-columns: 5fr 3fr;
}

.header .top-row > .left-section {
    display: grid;
    grid-template-columns: 1fr 9fr;
    grid-auto-flow: column;    
}

.header .top-row > .right-section {
    grid-template-columns: repeat(3,1fr);

    display: grid;
    grid-auto-flow: column;
    
}

.header .bottom-row {
    display: grid;
    gap: none;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
}

.header .bottom-row .left-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.header .bottom-row .left-section img {
    grid-row: 1 / 4;
}

.header .bottom-row .right-section {
    justify-self: end;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(3,1fr);
    place-items: center;
    gap: 30px;
}

.sidebar * {
    color: white;
}

.main {
    padding: 20px;
    display: grid;
    background-color: #cbd5e1;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

.your-projects {
    grid-row: 1 / 4;
}

.section-title {
    font-size: 1.5rem;
    margin: 10px 0;
    font-weight: 800;
}

.cards {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.card {
    display: grid;
    padding: 10px;
    background-color: #f8fafc;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 8px;
    border-left: solid 8px orange;
}

p.title {
    font-size: 1.275rem;
    margin-bottom: 20px;
}

p.description {
    color: #6b7280;
    padding: 5px 0 0 0;
    height: 100px;
}

.bottom-btns-row {
    display: flex;
    flex-direction: row-reverse; /* easy way to start button placement from rtl */
    gap: 20px;
}


.bottom-btns-row > button > img {
    width: 18px;
    height: 18px;
}

.bottom-btns-row > button:hover {
    width: 18px;
    height: 18px;
}

.announcements {
    margin: 0 20px 0 0;
    border-radius: 10px;
    background-color: #f8fafc;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 30px;
    display: grid;
    gap: 10px;
}

.announcements > .announced > p:first-of-type {
    margin: 10px 0 0 0;
    font-size: 1.125rem;
    font-weight: 600;
    padding: 0 0 5px 0;
}

.announcements > .announced > p:not(:first-of-type) {
    color: #6b7280;
}

.announcements > .announced:not(:first-of-type) {
    border-top: solid 1px #94a3b8;
}

.trending {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    margin: 0 20px 0 0;
}

.trending > .users{
    display: grid;
    gap: 10px;
    background-color: #f8fafc;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10px;
}

.trending > .users > .user {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-auto-flow: column;
}

.trending > .users img {
    width: 50px;
    height: 50px;
}

.trending > .users .user-info {
    align-self: center;
}

.trending > .users p:first-of-type {
   margin: 0 0 4px 0; 
}

.trending > .users p:not(:first-of-type) {
    color: #6b7280;
}

.trending > .users .user:not(:first-of-type) {
    border-top: solid 1px #94a3b8;
    padding-top: 10px;
}
